.controlPanel
{
    display: grid;
    gap: 7px;
}

.contextGrid
{
    display: grid;
    grid-template-columns: max-content 160px;
    column-gap: 16px;
    row-gap: 3px;
    justify-content: start;
    align-items: baseline;

    font-family: Consolas, monospace;
    font-size: 12px;
}

.contextGrid div:nth-child(odd)
{
    color: #444;
}

.contextGrid div:nth-child(even)
{
    text-align: left;
    font-weight: 700;
}

.hiddenStatusBlock
{
    display: none;
}