.controlPanel
{
    display: grid;
    gap: 4px;
}

.contextGrid
{
    display: grid;
    grid-template-columns: max-content 160px;
    column-gap: 16px;
    row-gap: 2px;
    justify-content: start;
    align-items: baseline;

    font-family: Consolas, monospace;
    font-size: 12px;
}

.contextGrid div:nth-child(odd)
{
    color: #444;
}

.contextGrid div:nth-child(even)
{
    text-align: left;
    font-weight: 700;
}

.hiddenStatusBlock
{
    display: none;
}
.controlPanel .ccButton
{
    padding: 4px 7px;
}

.contextPanel .contextGrid
{
    line-height: 1.15;
}
